div {
  font-family: var(--font-family);
}

.cs-message--incoming .cs-message__content {
  background-color: #f9f9f9;
}

.cs-message--outgoing .cs-message__content {
  background-color: #b7ed9d;
}

.cs-message-separator {
  color: var(--black-color);
  text-align: center;
  justify-content: center;
  font-weight: var(--font-bold);
  font-size: var(--font-size);
  font-family: var(--font-family);
  margin-top: 12px;
}

.cs-message-separator::before,
.cs-message-separator::after {
  display: none;
}

.cs-chat-container .cs-message-input {
  background-color: #335f1f;
}

.cs-message-input__content-editor-wrapper {
  background-color: var(--white-color);
}

.cs-message-input__content-editor {
  background-color: var(--white-color);
}

.cs-button--attachment svg {
  color: var(--white-color);
}

.cs-button--send svg {
  color: var(--white-color);
}

.cs-message-list .cs-message.cs-message--incoming,
.cs-message-list .cs-message-group.cs-message-group--incoming {
  margin-right: 12px;
}

.cs-message-list .cs-message.cs-message--outgoing,
.cs-message-list .cs-message-group.cs-message-group--outgoing {
  margin-left: 12px;
}

.cs-message-list__scroll-wrapper {
  padding: 0 1.2em 0.5em 0.8em;
}
