.imageContainer_PPC {
  width: 100%;
}

.cardImage_PPC {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.cardDetailContainer_PPC {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: var(--cardBG-color);
  border-radius: 0 0 15px 15px;
}

.cardTitle_PPC {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-normal);
  line-height: var(--font-size-2xl);
  color: var(--mainText-color);
}

.cardStatusBoxContainer_PPC {
  width: fit-content;
  min-width: 130px;
  padding: 10px 6%;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 15px;
}

.cardStatusIcon_PPC {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.cardStatusText_PPC {
  color: var(--white-color);
  font-weight: var(--font-normal);
  font-size: 1rem;
  line-height: 1rem;
}

.peopleCountingModalColumn {
  width: 100%;
}
