.imageContainer_PPC {
  width: 100%;
}

.ant-card-bordered.cardContainer_PPC{
  border-radius: 8px !important;
}

.cardContainer_PPC > .ant-card-body {
  padding: 0 !important;
}

.cardImage_PPC {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.cardDetailContainer_PPC {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: white;
  border-radius: 0 0 8px 8px;
}

.cardTitle_PPC {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--font-size-2xl);
  color: var(--primary-color);
}

.cardStatusBoxContainer_PPC {
  margin-top: 15px;
}

.cardStatusIcon_PPC {
  width: 24px;
  height: 24px;
}

.cardStatusText_PPC {
  color: var(--white-color);
  font-weight: var(--font-normal);
  font-size: 1rem;
  line-height: 1rem;
  padding: 6px 12px;
  border-radius: 8px;
}

.peopleCountingModalColumn {
  width: 100%;
}

.peopleCountingModalColumn > .ant-col {
margin: 0 !important;
padding: 0 !important;
}

.saveButton {
  margin-top: 12px;
}

.peopleCountingFormModal .ant-modal-content {
  border-radius: 8px !important;
}
