.chatRoomContainer {
  height: 80vh;
  background-color: var(--lightGray-color);
  border-radius: 16px;
}

.leftSideChatContainer {
  height: 100%;
  padding: 16px 16px 0 16px;
  overflow-y: scroll;

  .filterContainer_CR {
    width: 100%;

    .adjustButton {
      padding: 5px;
    }

    .adjustIcon {
      width: 24px;
    }
  }

  .userListContainer {
    border-top: 1px var(--black-color) solid;
    margin-top: 24px;

    .userContainer {
      background-color: var(--white-color);
      padding: 16px;
      margin-bottom: 1px;
      cursor: pointer;

      .avatarContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .ellipsisText {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .timeShowUserContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
      }
    }

    .userContainer.active {
      transition: 0.2s ease-in-out;
      background-color: #e7f8e3;
    }
  }

  .userListBottomLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-top: 20px;

    .centered-text {
      flex: 1;
      margin: 0 12px;
      text-align: center;
    }

    .horizontal-line {
      flex: 1;
      border-bottom: 1px solid var(--black-color);
      margin: 0.5rem 0;
    }
  }
}

.rightSideContainer {
  border-radius: 0 16px 16px 0;
  overflow: hidden;

  .chatBoxHeader {
    height: 60px;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--black-color);
  }

  .titleChatName div {
    font-size: var(--font-size-3xl);
    background-color: var(--white-color);
  }
}

.emptyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 0 16px 16px 0;
}

.message-meta {
  /* height: 37px; */
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #999;
  text-align: center;
  justify-content: flex-end;
}

.outgoingMessage {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding-top: 4px;

  .messageContainer {
    align-items: flex-end;
  }
}

.incomingMessage {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-top: 4px;

  .messageContainer {
    align-items: flex-start;
  }
}

.messageContainer {
  display: flex;
  flex-direction: column;
}

.avatarInChatBoxContainer {
  align-self: flex-start;
  padding: 4px;
}

.tagControl {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .fileDeleteIcon {
    height: 20px;
  }
}

.fileMessage {
  padding: 8px 4px 8px 0;
}

.sidebarContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  .headerDetail {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-semibold);
  }

  .detailContainer {
    .detailItem {
      width: 100%;
      padding: 20px;
      background: var(--whiteTrans-color);
    }
  }
}
