.parcel-dashboard-table .ant-table-thead > tr > th {
  background-color: #f5f5f5 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.parcel-dashboard-table .ant-table-tbody > tr {
  background-color: white !important;
}