.successModalContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.statusModalController .ant-modal-confirm-body {
  justify-content: center;
}
.confirmModalStyle {
  width: 640px;
}

.confirmModalStyle .ant-modal-content .ant-modal-confirm-body-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  height: 150px;
}

.confirmModalFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cancelBtnColor:hover {
  border-color: var(--primary-color) !important;
  color: var(--mainText-color) !important;
}

/* antd modal title controller */
.ant-modal-confirm-title {
  text-align: center;
}

.spacer + .spacer {
  margin-left: 30px;
}

.titleHeader {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-weight: var(--font-normal);
  font-size: var(--font-size-6xl);
  color: var(--mainText-color);
  margin-bottom: 30px;
}

.ant-picker-clear svg {
  fill: var(--danger-color);
}

.ant-input-clear-icon svg {
  fill: var(--danger-color);
}

.createModalController {
  max-width: 80vw;
  min-width: 600px;
}

.uploadCircleBtnContainer:hover {
  cursor: pointer;
}

.uploadCircleBtn {
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.successIcon {
  width: 50px;
  height: 50px;
}

/* antd btn controller */
.ant-btn-primary {
  background-color: var(--primary-color);
}

/* antd switch controller */
.ant-switch {
  background-color: var(--success-color);
}

.ant-switch:hover:not(.ant-switch-disabled) {
  background-color: var(--success-color);
  opacity: 0.7;
}

.ant-switch.ant-switch-checked {
  background-color: var(--danger-color);
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background-color: var(--danger-color);
  opacity: 0.7;
}

.webBackGround {
  background: url(/src/assets/images/BG.png);
  background-color: #f9f9f9;
  width: 100vw;
  height: 100%;
  max-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

@media only screen and (max-width: 600px) {
  .webBackGround {
    background: url(/src/assets/images/BGmobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
