@layer base {
  :root {
    font-family: "Sarabun";
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* fonts weight */
    --font-bold: 700;
    --font-semibold: 600;
    --font-normal: 400;

    /* font sizes */
    --font-size-sm: 14px;
    --font-size-xl: 16px;
    --font-size-2xl: 20px;
    --font-size-3xl: 24px;
    --font-size-4xl: 28px;
    --font-size-5xl: 32px;
    --font-size-6xl: 36px;
    --font-size-7xl: 40px;
    --font-size-base: 16px;

    /* Colors */
    --primary-color: #002c55;
    --secondary-color: #4995ff;
    --tertiary-color: #ecf4ff;
    --header-color: #a6cbff;
    --light-color: #c0daff;
    --opacity-color: rgb(170, 198, 247, 0.1);
    --bg-color: #a6cbff;
    --login-color: #36cccc;
    --bg-table-color: #fbfcfe;
    --white-color: #ffffff;
    --whiteTrans-color: rgba(255, 255, 255, 0.8);
    --black-color: #403d38;
    --gray-color: #9f9c9b;
    --cardBG-color: rgba(166, 203, 255, 0.3);
    --text-gray: #929292;

    /* Semantic Colors */
    --danger-color: #ad1b20;
    --warning-color: #fac63b;
    --success-color: #63a164;

    /* Typography and iconography Colors */
    --mainText-color: var(--black-color);
    --menuText-color: var(--black-color);
    --menuTextActive-color: var(--white-color);
    --subMenuTextActive-color: var(--tertiary-color);
    --subMenuText-color: #7b7b7b;
    --successText-color: var(var(--success-color));
    --dangerText-color: var(var(--danger-color));

    /* Bg colors */
    --mainBg-color: var(--primary-color);
    --menuBg-color: var(--secondary-color);
    --menuBgActive-color: var(--primary-color);
    --subMenuBg-color: var(--white-color);
    --subMenuBgActive-color: var(--secondary-color);

    /* Button colors */
    --mainBtn-color: var(--primary-color);
    --cancelBtn-color: var(--white-color);
    --mainBtnText-color: var(--white-color);
    --cancelBtnText--color: var(--primary-color);

    /* Table color */
    --tableHeadBg-color: var(--header-color);
    --tableHeadText-color: var(--black-color);
    --subTableHeadBg-color: var(--header-color);

    /* Shadow */
    --card-shadow: rgba(149, 157, 165, 0.3) 0px 8px 12px;
  }
}